@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #09090B;
    color: #F4F4F5;
    font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  }

  /* Custom subtle scrollbar */
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background: #27272A;
    border-radius: 9999px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #3F3F46;
  }
}
